/*
 * Nightlybuild.io
 *
 * @authors: Anselm Hannemann, Sebastian Golaschs
 * @date: 2014-06-29
 *
 */

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	max-width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	background: #1e243e; /* deep blue */
	background: #00161d; /* greenish black */
	color: #fff;
}

/* Terminal font - also primary highlight font */
pre,
h2,
h3,
.header .date,
.big-button_label,
.big-button_value,
.font-primary {
	font-family: 'Menlo', Monaco, monospace;
	font-weight: normal;
}

/* Primary color */
a,
.color-primary {
	color: #9bdb1d /* green */
}

/* Secondary color */
.color-secondary {
	color: #006375 /* blue green from logo */
}

h1,
h2 {
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 3rem;
	color: #9bdb1d; /* neon green */
}

/* Section headlines */
h2 {
	position: relative;
	overflow: hidden;
	margin: 1.5rem auto 0.5rem;
	padding: 1rem 0 1rem 0;
	font-size: 1.8rem;
}

/* Line left and right of headline */
h2:before,
h2:after {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 1px;
	top: 50%;
	background-color: #fff;
}

h2:before {
	left: -6.5rem;
}

h2:after {
	right: -6.5rem;
}

h3 a {
	text-decoration: none;
}

ul {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

@keyframes fade-in-from-bw {
	from {
		-webkit-filter: grayscale(100%);
		   -moz-filter: grayscale(100%);
		        filter: grayscale(100%);
	}
	to {
		-webkit-filter: grayscale(0%);
		   -moz-filter: grayscale(0%);
		        filter: grayscale(0%);
	}
}

/* Button styles */
.button {
	text-align: center;
}

.big-button {
	display: inline-block;
	margin: 1rem auto;
	padding: 0 2rem;
	clear: both;

	font-size: 1.2rem;
	line-height: 3.5rem;
	text-decoration: none;
	text-align: center;

	background-color: rgb(155, 219, 29);
	color: #fff;
}

.button-tickets {
	padding: 0;
}

.button-tickets .big-button_label {
	float: left;
	padding: 0 1.7rem;
	color: #fff;
	background-color: rgba(155, 219, 29, 0.8);
}

.button-tickets .big-button_value {
	float: left;
	padding: 0 1.2rem;
	font-size: 1.2em;
	color: #006375;
	background-color: #fff;
}

.big-button:hover .big-button_label {
	background-color: #9bdb1d;
}

.big-button:hover .big-button_value {
	color: #9bdb1d;
}

.header,
.main,
.footer {
	margin: 0 auto;
	max-width: 60rem;

	line-height: 1.4;
}

/* Header */
.header:before {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;

	background-image: linear-gradient(60deg, rgba(255, 0, 255, 0.5) 0%, rgba(255, 0, 255, 0.5) 10%, rgba(0, 255, 255, 0.5) 80%);

	-webkit-filter: grayscale(80%);
	        filter: grayscale(80%);

	animation: fade-in-from-bw 10s forwards;
}

.logo {
	text-indent: -999em;
}

.logo:after {
	content: '';
	display: block;
	width: 14rem;
	height: 14rem;
	margin: -4rem auto 0 auto;
	padding: 0;

	text-indent: 0;

	background: url('img/logo.png');
	background-size: 100%;
}

.header h1 {
	margin: 3rem auto 0;
}

.header .date {
	margin-top: 2.5rem;
	font-size: 1.4rem;
	color: #fff;
}

@media (min-width: 35em) {
	.header .date {
		font-size: 1.8rem;
	}
}

.header .summary {
	max-width: 32rem;
	font-size: 1.2rem;
}

.header p {
	margin: 1.5rem auto;

	text-align: center;

	color: #9ebecd;
}

/* Hardfacts */
/* Terminal style */
pre {
	padding: 0.25rem 1rem;

	font-size: 0.75rem;
	line-height: 1.2;

	background: #000;
	color: #ddd;
	cursor: text;
}

@media (min-width: 35em) {
	pre {
		font-size: 1rem;
	}
}

.terminal {
	position: relative;
	padding-top: 3rem;
	overflow: auto;
}

.terminal:before {
	content: 'nightlybuild.io';
	display: block;
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	height: 1.8rem;

	font-family: 'Lucida Grande', sans-serif;
	font-size: 0.75rem;
	line-height: 1.8rem;
	text-align: center;

	background: #ccc;
	background-image: -webkit-linear-gradient(top, #ddd, #aaa);
	background-image:    -moz-linear-gradient(top, #ddd, #aaa);
	background-image:         linear-gradient(top, #ddd, #aaa);
	color: #3A3A53;
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.4);

	border: 1px solid hsla(0, 0%, 43%, 0.3);
	border-radius: 0.3125rem 0.3125rem 0 0;
}

pre .command-prompt {
	color: #0188e1;
}

pre .command-task {
	color: #d70a59;
}

pre .green {
	color: #9bdb1d; /* neon green */
}

.speakers ul,
.sponsors ul,
.broughtoyouby ul {
	list-style: none;
}

@media (min-width: 42em) {
	.speakers li,
	.sponsors li,
	.broughtoyouby li {
		float: left;
		width: 17.6%;
		margin: 1.5%;
	}

	.speakers li:first-child,
	.sponsors li:first-child,
	.broughtoyouby li:first-child {
		margin-left: 0;
	}

	.speakers li:last-child,
	.sponsors li:last-child,
	.broughtoyouby li:last-child {
		margin-right: 0;
	}
}

	.speakers li > img,
	.sponsors li img,
	.broughtoyouby li > img {
		margin: 0 auto;
		border-radius: 50%;
	}

.speakers li {
	text-align: center;
}

.speakers li > h3,
.speakers li > p {
	text-align: left;
}

.location {
	background: attr('data-background');
	background-size: cover;
}

.location_osm {
	width: 100%;
	height: auto;
	min-height: 25rem;
}

.sponsors {
	color: #1e243e;
}

	.sponsors ul {
		max-width: 100%;
		margin: 0 auto;

		list-style: none;
	}

	.sponsors li {
		padding: 0.25rem;

		font-size: 0.75rem;

		background: #fff;
	}

	@media (min-width: 60em) {
		.sponsors img {
			min-height: 10rem;
		}
	}

.schedule table {
	border: 0;
	width: 100%;
}

	.schedule td {
		padding: 1.5rem 1.5rem 0.5rem;
		vertical-align: top;

		border-bottom: thin solid #9ebecd;
	}

		.schedule td:first-child {
			width: 40%;
			text-align: right;
		}

		.schedule td > h3 {
			margin: 0;
		}

.footer {
	margin: 10rem auto 0;
	padding: 1rem 0;

	border-top: thin solid #0188e1;

	color: #1e243e;
}

.footer:before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	width: 100vw;
	height: 45rem;
	margin-top: -4rem;

	background: #9ebecd;
}

	.footer h4 {
		text-align: center;
	}

	.footer ul a {
		color: #d70a59;
	}

.footer .twitter-follow-button {
	display: block;
	margin: 0 auto;
}

.modal-tickets,
.modal-afterparty {
	display: none;
	padding: 1rem;

	color: #00161d;
}

	.modal-tickets:target,
	.modal-afterparty:target {
		display: block;
		position: fixed;
		top: 25vh;
		left: 15vw;
		width: 70vw;
		min-height: 20rem;
		max-height: 50vh;

		background: #fff;
		box-shadow: 0 0 50rem rgba(0, 0, 0, 1);
	}

	.modal-close {
		display: none;
		position: relative;
		right: 1rem;
		top: 0.4rem;

		font-size: 2rem;
		text-decoration: none;
	}

		.modal-tickets:target .modal-close,
		.modal-afterparty:target .modal-close {
			display: block;
		}
