/*
 * Nightlybuild.io
 *
 * @authors: Anselm Hannemann,
 *           Sebastian Golasch,
 *           Hans-Christian Reinl,
 *           Simon Koch
 * @date: 2014-06-29
 */

/**
 * Box Sizing
 */
*,
*:before,
*:after {
	box-sizing: border-box;
}

@media (min-width: 42em) {
	body {
		font-variant-ligatures: common-ligatures;
		font-kerning: normal;
		font-variant-ligatures: common-ligatures;
		font-feature-settings: 'kern';
	}
}

body {
	max-width: 100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	background: #00161d;
	color: #fff;
}

/* Terminal font - also primary highlight font */
pre {
	font-family: 'Menlo', Monaco, monospace;
	font-weight: normal;
}

h1,
h2,
h3,
.header__date,
.button,
.font-primary,
.header__summary,
.header__thanks,
.sold-out {
	font-family: 'Oswald', sans-serif;
}

.header__summary,
.header__thanks {
	font-weight: lighter;
}

/* Primary color */
a,
.color-primary {
	color: #7DCFB6 /* scuba blue */
}

/* Secondary color */
.color-secondary {
	color: #006375 /* blue green from logo */
}

h1,
h2 {
	text-align: center;
	color: #fff;
}

h1 {
	font-size: 3rem;
	color: #7DCFB6;
}

/* Section headlines */
h2 {
	position: relative;
	overflow: hidden;
	margin: 2rem auto 1rem;
	padding: 1rem 0;
	font-size: 2.5rem;
	font-weight: normal;
}

/* Line left and right of headline */
h2:before,
h2:after {
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	top: 50%;
	background-color: #fff;
}

h2:before {
	left: -6.5rem;
}

h2:after {
	right: -6.5rem;
}

h3 {
	font-weight: normal;
	font-size: 1.5em;
}

h3 a {
	text-decoration: none;
}

h4 {
	font-weight: normal;
	font-size: 1.25em;
}

ul {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

/**
 * Animations
 */
@keyframes blink {
	0%, 40%, 100% {
		background: rgba(220, 220, 220, 0);
	}
	75% {
		background: rgba(220, 220, 220, 1);
	}
}

@keyframes rolloutlinetoright {
	from {
		width: 0;
		background: rgba(220, 220, 220, 0);
	}
	to {
		width: 100%;
		background: rgba(220, 220, 220, 1);
	}
}

/**
 * Form Styles
 */

.form {
	margin: 2rem auto 0;
	text-align: center;
}

@media (min-width: 42em) {
	.form {
		margin-top: 2rem;
	}
}

input[type='text'],
input[type='email'] {
	color: #000;
	border: 0;
	width: 100%;
	line-height: 18px;
	padding: 12px 1.8em 10px;
	text-align: center;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 2px 2px 0 0;
	vertical-align: top;
}

	input[type='text']:focus,
	input[type='email']:focus {
		border-color: #7DCFB6;
	}

@media (min-width: 42em) {
	input[type='text'],
	input[type='email'] {
		border-radius: 2px 0 0 2px;
		width: 20em;
	}
}

input[type='submit'] {
	font-size: 1em;
	position: relative;
	width: 100%;
	padding: 0.25em 0.75em;
	color: #333;
	border: 2px solid rgba(0, 0, 0, 0);
	border-radius: 0 0 2px 2px ;
	vertical-align: top;
	margin-top: 0;
}
	input[type='submit']:focus {
		border-color: #fff;
	}

@media (min-width: 42em) {
	input[type='submit'] {
		left: -3px;
		border-radius: 0 2px 2px 0;
		width: 10em;
	}
}
/**
 * Button styles
 */
.button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	display: inline-block;
	margin: 1.5em auto;
	padding: 0 2.5em;
	clear: both;

	background: #7DCFB6;

	font-size: 1.25em;
	line-height: 2em;
	text-decoration: none;
	text-align: center;
	color: #111;
	box-shadow: none;
	border: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;

	transition: transform 0.2s;
}

.button.is-inverted {
	background: #fff;
	color: #7DCFB6;
}

.button:hover {
	transform: scale(1.05, 1.05);
}

.button--big {
	font-size: 1.5rem;
	line-height: 3em;
}

.button--small {
	margin: 0.5em auto;
	padding: 0.4em 0.8em;
	font-size: 1.1em;
	line-height: 1.3em;
}

.button--secondary {
	color: #fff;
	background-color: #004653;
}

.button--tickets {
	padding: 0;
	box-shadow: 0 0 1rem -0.375rem rgba(0, 0, 0, 0.5);
}

.button__label {
	float: left;
	padding: 0 0.75em;
}

@media (min-width: 35em) {
	.button__label {
		padding: 0 1.5em;
	}
}

.button__value {
	float: left;
	padding: 0 1em;
	white-space: nowrap;
	background-color: #fff;
}

/**
 * Wrapper for layout
 */
.header,
.hardfacts,
.notice,
.speakers,
.sponsors,
.friends__inner,
.location__inner,
.schedule,
.get-there,
.footer__inner {
	margin: 0 auto;
	padding: 0 1em;
	max-width: 60rem;

	line-height: 1.4;
}

/**
 * Theme
 */
.location,
.friends,
.footer {
	background: #7DCFB6;
	color: #fff;
}

.friends .cards li {
	border-color: #7DCFB6;
}

/**
 * Header
 */
.header__background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: -430px;
	right: 0;
	height: 100%;

	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.75)), url('img/header.jpg');
	background-size: cover;
}

@media (min-width: 35em) {
	.header__background {
		left: 0;
	}
}

.header__logo {
	margin-top: 0;
	text-indent: -99em;
	overflow: hidden;
}

.header__logo:after {
	content: '';
	display: block;
	width: 15rem;
	height: 15rem;
	margin: 0 auto;
	padding: 0;

	text-indent: 0;

	background: url('img/logo.svg') no-repeat 50% 50%;
	background-size: auto 100%;
}

@media (max-width: 35em) {
	.header__logo:after {
		width: 10rem;
		height: 10rem;
	}
}

.header.last-minute .header__logo:after {
	height: 10rem;
}

.header__date {
	margin-top: 2rem;
	font-size: 1.25rem;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

@media (min-width: 35em) {
	.header__date {
		font-size: 1.4em;
	}
}

.header__summary {
	max-width: 42rem;
	margin: 1rem auto 0;
	padding: 2rem 0;
	font-size: 1.3rem;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

.header__summary:before {
	content: '';
	display: block;
	position: relative;
	top: -1.5rem;

	width: 100%;
	height: 1px;

	background: #fff;

	animation: rolloutlinetoright 5s forwards;
}

@media (min-width: 42em) {
	.header__summary {
		margin-top: 2rem;
		font-size: 2rem;
		padding: 3rem 0;
	}
}

.header p {
	text-align: center;
	color: #fff;
}

.header__thanks {
	font-size: 2rem;
	margin: 2rem auto 1.5rem auto;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.85),
	             0 0 1px #000;
}

@media (min-width: 42em) {
	.header__thanks {
		font-size: 3.5rem;
		margin: 5rem auto 1.5rem auto;
	}
}

.header p.header__thanks {
	color: #7DCFB6;
}

.nav {
	text-align: center;
}

.nav ul {
	list-style: none;
}

.nav .button {
	margin: 0.25rem auto;
}

@media (min-width: 35em) {
	.nav ul li {
		display: inline-block;
	}
}

/**
 * Sold out info
 * Displayed instead of buy ticket button
 */
.sold-out {
	display: inline-block;
	margin-top: 1.0rem;
	padding: 0.4rem 0;
	border-top: 0.2rem solid white;
	border-bottom: 0.2rem solid white;
	font-size: 2.3rem;
	text-transform: uppercase;
}

/**
 * Waiting list notice
 * Displayed instead of buy ticket button
 */
.waiting-list {
	padding-top: 0.4rem;
	padding-bottom: 2rem;
}

/**
 * Hardfacts
 * Terminal style
 */
pre {
	padding: 0.25rem 1rem;

	font-size: 0.75rem;
	line-height: 1.2;

	background: rgba(10, 10, 10, 0.8);
	box-shadow: 0 10px 60px rgba(200, 200, 200, 0.2);
	color: #ddd;
	cursor: text;
}

@media (min-width: 35em) {
	pre {
		font-size: 1rem;
	}
}

.terminal {
	position: relative;
	z-index: 2;
	padding-top: 3rem;
	padding-bottom: 0.7rem;
	overflow: auto;
}

.terminal:before {
	content: 'nightlybuild.io';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 1.8rem;

	font-family: 'Lucida Grande', sans-serif;
	font-size: 0.75rem;
	line-height: 1.8rem;
	text-align: center;

	background: #ccc;
	background-image: linear-gradient(top, #ddd, #aaa);
	color: #3a3a53;
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, 0.4);

	border: 1px solid hsla(0, 0%, 43%, 0.3);
	border-radius: 0.3125rem 0.3125rem 0 0;
}

.terminal-wrapper {
	max-width: 100%;
	overflow-x: auto;
}

pre .command-prompt {
	color: #0188e1;
}

pre .command-task {
	color: #d70a59;
}

pre .green {
	color: #9bdb1d; /* neon green */
}

.active-prompt {
	display: inline-block;
	background: #ddd;
	width: 0.8em;
	height: 1.3em;
	margin: 0.3em 0.3em -0.2em;

	animation: blink 1s infinite;
}

/**
 * Notice
 */
.notice {
	margin-top: 5em;
	text-align: center;
}

/**
 * Speakers
 */
.speakers {
	padding-top: 2em;
	padding-bottom: 3em;
}

.speakers li img {
  max-height: 15rem;
}

@media (min-width: 35em) {
  .speakers .cards:last-of-type li {
    margin-top: 1.5em;
  }
}

/**
 * Location
 */
.location {
	position: relative;
}

.location:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 10em;
	background: #00161d;
}

.location__inner {
	position: relative;
	z-index: 10;
	padding-top: 3em;
}

.location__osm {
	width: 100%;
	height: auto;
	min-height: 25rem;
}

.osm {
	height: 25rem;
}

/**
 * Cards
 */
.cards {
	list-style: none;
	margin: 0 -0.5rem;
	color: #1e243e;
	text-align: center;
}

.cards li {
	display: block;
	width: 100%;
	margin: 1rem 0;
	padding: 0.25rem;
	background: #fff;
	font-size: 0.8rem;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
	overflow: hidden;
}

@media (min-width: 35em) {
	.cards {
		display: flexbox;
		box-orient: horizontal;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		align-content: stretch;
	}

	.cards li {
		flex-grow: 1;
		flex-wrap: wrap;
		width: 20%;
		margin: 0 0.25rem;
	}
}

.cards a {
	color: #fff;
}

.cards img {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 4px solid #fff;
}

@media (min-width: 60em) {
	.cards img {
		min-height: 10rem;
	}
}

.cards h3 {
	margin: 0.75rem;
	font-size: 1.25rem;
}

.cards h3 a {
	display: block;
}

.cards p {
	margin: 0.75rem;
}

/**
 * Sponsors
 */
.sponsors {
	padding-top: 3em;
	padding-bottom: 2em;
	text-align: center;
}

.sponsors .cards {
	margin: 0 25% 3em;
}

.sponsors .cards img {
	border-radius: 0;
}

.sponsors .cards--gold {
	margin-left: 0;
	margin-right: 0;
}

.sponsors .cards--gold li {
	position: relative;
	padding: 1em 1em 3em;
	font-size: 1em;
}

.sponsors .cards--gold p {
	margin: 0 0 2em;
}

.sponsors .cards--gold li {
	padding: 1em;
}

.sponsors .cards img {
	max-height: 210px;
	max-width: 100%;
}

.sponsors--contact {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 0.5em 1em;
	background: #eee;
}

li:hover .sponsors--contact {
	background: #008ea8;
	color: #fff;
}

/* Modal */
.sponsor__contact__image {
	float: left;
	width: 100px;
	margin: 0 1em 0 0;
}

.sponsor__contact__contacts {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sponsor__contact__contacts li {
	border-top: 1px solid #eee;
	padding-top: 1em;
	margin-top: 1em;
	overflow: hidden;
}

.sponsor__contact__contacts h3 {
	margin: 0 0 0.5em;
	font-size: 1.25em;
}

.sponsor__contact__contacts p {
	margin: 0.5em 0;
}

@media (max-width: 50em) {
	.sponsors .cards--gold {
		margin: 5% 0 5% 0;
	}
}

@media (max-width: 35em) {
	.sponsors .cards {
		overflow: hidden;
		margin: 0 -0.5rem;
	}

	.sponsors .cards li {
		display: inline;
		float: left;
		width: 50%;
		margin-bottom: 0;
	}

	.sponsors .cards--gold li {
		width: 100%;
	}
}

/**
 * Schedule
 */
.schedule {
	padding-top: 3em;
}

.schedule table {
	border: 0;
	width: 100%;
}

	.schedule td {
		padding: 1.5rem 1.5rem 0.5rem;
		vertical-align: top;

		border-bottom: thin solid #9ebecd;
	}

		.schedule td:first-child {
			width: 40%;
			text-align: right;
		}

		.schedule td > h3 {
			margin: 0;
		}

/**
 * Friends
 */
.friends__inner {
	padding: 1em 1em 5em;
}

.friends .cards {
	margin-bottom: 1em;
}

.friends .cards:last-child {
	margin-bottom: 0em;
}

.friends .cards li {
	width: 25%;
}

@media (max-width: 35em) {
	.friends .cards li {
		width: 100%;
	}
}

.friends .cards.no-auto-grow li {
	flex-grow: 0;
}

/**
 * Footer
 */
.footer {
	margin: 4rem auto 0;
	padding: 1rem 0;
	text-align: center;
	font-size: 0.9rem;
}

	.footer p a {
		color: #fff;
	}

	.footer .twitter-follow-button {
		display: block;
		margin: 0 auto;
	}

.team {
	list-style: none;
	margin: 0 0 3rem;
	text-align: left;
}

	.team li {
		padding: 0;
	}

	.team img {
		border-radius: 0;
		border: 0;
	}

	.team h3 a,
	.team p a {
		color: #004653;
	}

@media (min-width: 42em) {
	.footer {
		margin-top: 10rem;
	}
}

/**
 * Gallery
 */
.gallery {
	margin-top: 3rem;
	overflow: hidden;
}

.gallery__image {
	position: relative;
	float: left;
	width: 67%;
	height: 0;
	padding-bottom: 37.125%;
}

.gallery__image__image {
	position: relative;
	padding: 2px 2px 2px 0;
}

.gallery__image img {
	display: block;
	border: 1px solid rgba(210, 210, 210, 0.8);

	transition: opacity 0.2s;
}

.gallery__images {
	float: left;
	display: inline;
	list-style: none;
	width: 33%;
	margin: 0;
}

.gallery__images li {
	float: left;
	display: inline;
	max-width: 50%;
	padding: 2px;
}

.gallery__images img {
	display: block;
	border: 1px solid rgba(210, 210, 210, 0.4);
	filter: grayscale(80%);
}

.gallery__images img:hover,
.gallery__images .is-active img {
	border-color: rgba(210, 210, 210, 0.8);
	filter: grayscale(0);
}
